body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(237, 237, 233);
    font-family: Arial, Helvetica, sans-serif;
}

input[type="button"] {
    background-color: rgb(214,204,194);
    border-style: solid;
    border-color: rgb(213, 189, 175);
    font-weight: bold;
    width: 125px;
    height: 25px;
}

input[type="button"]:hover{
    cursor: pointer;
    background-color: rgb(237,237,233)
}

input[type="color"] {
    background-color: rgb(214,204,194);
    width: 125px;
    height: 125px;
}

input[type="color"]:hover{
    cursor: pointer;
    background-color: rgb(237,237,233)
}

.sliderRes {
    -webkit-appearance: none;
    appearance: none;
    width: 125px;
    height: 25px;
    background: rgb(214,204,194);
    outline: none;
}

.sliderRes::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: rgb(0, 0, 0);
    cursor: pointer;
}

.sliderRes::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: rgb(214,204,194);
    cursor: pointer;
}

.column {
    width: 256px;
    height: 256px;
    user-select: none;
}

.gridContainer {
    background-color: rgb(255, 255, 255);
    border-style: solid;
    border-color: rgb(214,204,194);
}

.grid {
    width: 512px;
    height: 512px;
    display: flex;
    flex-direction: column;
}

.invisibleContainer {
    width: 150px;
}

.mainContainer {
    display: flex;
    align-items: center;
}

.row {
    display: flex;
    justify-content: center;
}

.settingsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 150px;
}

.settingsContainer input {
    margin: 5px;
}

.sliderColorContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 25px;
}

.sliderText {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
}