body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(175, 255, 231, 1);
}


.column {
    width: 256px;
    height: 256px;
    user-select: none;
}

.gridContainer {
    background-color: rgb(255, 255, 255);
}

.grid {
    width: 512px;
    height: 512px;
    display: flex;
    flex-direction: column;
    border: 1px black solid;
}

.mainContainer {
    display: flex;
    align-items: center;
}

.row {
    display: flex;
    justify-content: center;
}

.sliderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
}